/* booking layout styles */

.tx-bookingpar-pi1 .message {
	background-color: yellow;
	border: 2px solid red;
	padding: 2px;
}

.tx-bookingpar-pi1 #messageBoxOverlay {
	position: fixed;
	display: none;
	z-index: 1000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
.tx-bookingpar-pi1 #messageBox {
	padding: 15px;
	position: fixed;
	display: none;
	z-index: 1001;
	font-weight: bold;
	background-color: white;
	border: 2px solid red;
}
.tx-bookingpar-pi1 #messageBox .closeButton {
	margin-top: 20px;
	text-align: center;
}


.tx-bookingpar-pi1 .legend div {
	float: left;
}
.tx-bookingpar-pi1 .legendTitle {
	float: left;
	margin: 0px 5px 10px 2px;
}
.tx-bookingpar-pi1 .legend .available {
	background-color: #ffffff;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	height: 2.2rem;
}
.tx-bookingpar-pi1 .legend .someAvailable {
	background-color: #CCFFCC;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	height: 2.2rem;
}

.tx-bookingpar-pi1 .legend .notAvailable {
	background-color: #FFCC00;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	height: 2.2rem;
}
.tx-bookingpar-pi1 .legend .offDutyTime {
	background-color: #FF000;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	height: 2.2rem;
}



.tx-bookingpar-pi1 .calendarWeek {
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.2em;
}

.tx-bookingpar-pi1 .calendarWeek .legend .offDutyHour {
	width: 10px;
	height: 10px;
	background-color: #e0e0e0;
	font-weight: normal;
}
.tx-bookingpar-pi1 .calendarWeek .legend .bookedHour {
	width: 10px;
	height: 10px;
	background-color: #ff9900;
	font-weight: normal;
}
.tx-bookingpar-pi1 .calendarWeek .legend .availableHour {
	width: 10px;
	height: 10px;
	background-color: #ccff66;
	font-weight: normal;
}


.tx-bookingpar-pi1 .weekView .objectName {
	font-weight: bold;
	text-align: center;
}

.tx-bookingpar-pi1 .weekView .today .weekday {
	font-weight: bold;
}
.tx-bookingpar-pi1 .weekView .pastDay {
	color: #c0c0c0;
}

.tx-bookingpar-pi1 .weekView td.weekday {
	text-align: center;
}

.tx-bookingpar-pi1 .weekViewDay td {
	border: 1px solid gray;
	border-collapse: collapse;
}

.tx-bookingpar-pi1 .weekViewDay .AM, .tx-bookingpar-pi1 .weekViewDay .PM {
	width: 3rem;
}


.tx-bookingpar-pi1 .weekViewDay .dutyHours {
	background-color: #CCFF66;
	border-bottom: 1px solid gray;
	text-align: center;
	cursor: pointer;
}
.tx-bookingpar-pi1 .weekViewDay .bookedHours {
	background-color: #FF9900;
	border-bottom: 1px solid gray;
	text-align: center;
}

.tx-bookingpar-pi1 .weekViewDay .offDuty {
	background-color: #e0e0e0;
	border-bottom: 1px solid gray;
	text-align: center;
}

.tx-bookingpar-pi1 .weekViewDay .offDutyTimeHours {
	background-color: #f00000;
	border-bottom: 1px solid gray;
	text-align: center;
	cursor: auto;
}
.tx-bookingpar-pi1 .offDutyTime {
	background-color: #FF0000;
	border-bottom: 1px solid gray;
	text-align: center;
	font-weight: normal;
	cursor: auto;
}



.tx-bookingpar-pi1 .clearer {
	clear: both;
	margin-top:7xp;
	margin-bottom:7px;
}


.tx-bookingpar-pi1 .listObjects {
}

.tx-bookingpar-pi1 .listMonth {
	background-color: #e0e0e0;
	float: left;
	margin: 5px;
	line-height: 2;
}
.tx-bookingpar-pi1 .listMonth .month {
	background-color: #e0e0e0;
	text-align: center;
	color: blue;
	font-weight: bold;
}
.tx-bookingpar-pi1 .listMonth .dayNames {
	background-color: #e0e0e0;
	text-align: center;
	color: blue;
}
.tx-bookingpar-pi1 .listMonth .day {
	background-color: #ffffff;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
}
.tx-bookingpar-pi1 .listMonth .available {
	background-color: #ffffff;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor: pointer;
}
.tx-bookingpar-pi1 .listMonth .someAvailable {
	background-color: #CCFFCC;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor: pointer;
}
.tx-bookingpar-pi1 .listMonth .notAvailable {
	background-color: #FFCC00;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor: pointer;
}
.tx-bookingpar-pi1 .listMonth .busy {
	background-color: #FFCC00;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor:pointer;
}

.tx-bookingpar-pi1 .listMonth .offDutyTime {
	background-color: #FF0000;
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor: auto;

}
.tx-bookingpar-pi1 .listMonth .beyondlimit {
	background-color: rgb(208, 202, 202);
	border: 1px solid black;
	text-align: center;
	width: 2.2rem;
	cursor: auto;

}



.tx-bookingpar-pi1 .listMonth .today {
	border: 2px solid red;
}



.tx-bookingpar-pi1 .bookingFormObjectName {
	font-size: 1.5em;
	margin-bottom: 5px;
}
.tx-bookingpar-pi1 .bookingFormDiv .date .eventtitle{
	font-weight: bold;
}

.tx-bookingpar-pi1 .bookingFormDiv .pastDay {
	color: #c0c0c0;
}

.tx-bookingpar-pi1 .bookingForm {
	background-color: #e0e0e0;
	border-collapse: separate;
/*	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%; */
}
.tx-bookingpar-pi1 .bookingForm .titles {
	font-weight: bold;
}
/*.bookingForm .th,
.bookingForm .td
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} */
.tx-bookingpar-pi1 .bookingForm .even {
	background-color: #ffffff;
}
.tx-bookingpar-pi1 .bookingForm .odd {
	background-color: #CCFF99;
}
.tx-bookingpar-pi1 .bookingForm .booked {
	background-color: #80FF99;
}


.tx-bookingpar-pi1 .memo {
	width:20%;
}
.tx-bookingpar-pi1 .hour {
	width:2em;
	font-size:0.9em;
	font-family:'Open Sans', sans-serif;
}

.tx-bookingpar-pi1 .bookingFormDiv .backToWeekView,
.tx-bookingpar-pi1 .bookingFormDiv .backToMonthView .backToObjectView {
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.tx-bookingpar-pi1  .errorMessage {
	width: 100%;
	background-color: #FFFF66;
	border: 2px solid red;
	font-weight: bold;
	display: none;
}
.multiple-selection {
    background-color: Highlight;
    color: HighlightText;
}

.eventedit {
	display:none;
	z-index: 1000;
	overflow: visible;
	position: absolute;
	background-color: white;
	padding: 7px;
	border-style:solid;
	border-width:2px;
}
.eventview {
	float:left;
}
.tx-bookingpar-pi1 .eventview .dayNames {
/*	background-color: #e0e0e0; */
	text-align: center;
	color: blue;
	vertical-align:top;
	width:3rem;
}

.editevent {
	padding: 5px;
}
.repeatevent {
	display:none;
}
.repeatmonth {
	display:none;
}
.repeatweek {
	display:none;
}

.wrappable {
/*       white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */

	overflow-wrap: anywhere;
	hyphens: auto;
        hyphenate-limit-chars: 6 3 2; 
        hyphenate-limit-lines: 2;
        hyphenate-limit-last: always;
        hyphenate-limit-zone: 8%; 
}