<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Booking/MonthView.html
-->

<f:section name="content">
	<div class="legend">
		<div class="d-inline"><div class="available"></div><div class="legendTitle">Geen boekingen</div></div>
		<div class="d-inline"><div class="someAvailable"></div><div class="legendTitle">Enkele uren vrij</div></div>
		<div class="d-inline"><div class="notAvailable"></div><div class="legendTitle">Bezet</div></div>
		<f:if condition="{conf.offDutyTimeBegin} || {conf.offDutyTimeBegin2}">
			<div class="d-inline"><div class="offDutyTime"></div><div class="legendTitle">Reserveren niet mogelijk</div></div>
		</f:if>
	</div>
	<div class="clearer">
		<f:if condition="{conf.displayMode}=='viewObjects'">
		<div><span class="btn btn-primary mt-1" onclick="textpic[0].style.display = 'block';tx_booking_submit('<f:format.date format='Y-m-d'>{datecur}</f:format.date>','viewObjects', '');">Naar zaalselectie</span></div>
		</f:if>
	</div>
	<div class="clearer">
		<f:if condition="{conf.displayMode}=='viewAgenda'">Klik op een datum voor details</f:if>
		<f:if condition="{conf.displayMode}=='viewObjects'">{objectnames}</f:if>
	</div> 
	<div class="listMonth d-block">
	<table class="listMonth d-block" id="bookingeIDResult">
		<tr>
		<td><img src="{f:uri.resource(path:'Icons/baseline_arrow_left_black_18dp.png', extensionName: 'bookingpar')}" style="cursor:pointer; width:1.8rem" title="vorige maand" onclick="tx_booking_submit('<f:format.date format='Y-m-d'>{dateprev}</f:format.date>','viewMonth', '');" /></td>
		<td colspan="6" class="month"><f:format.date format="%b %Y">{datecur}</f:format.date></td>
		<td>
		<f:if condition="{datenext.timestamp}<{datemax.timestamp}">
		<f:then>
		<img src="{f:uri.resource(path:'Icons/baseline_arrow_right_black_18dp.png', extensionName: 'bookingpar')}" style="cursor:pointer; width:1.8rem" title="volgende maand" onclick="tx_booking_submit('<f:format.date format='Y-m-d'>{datenext}</f:format.date>','viewMonth', '');" />
		</f:then>
		</f:if>
		</td>
		</tr>
		<tr>
			<td></td>
			<td class="dayNames">Ma</td>
			<td class="dayNames">Di</td
			><td class="dayNames">Wo</td>
			<td class="dayNames">Do</td>
			<td class="dayNames">Vr</td>
			<td class="dayNames">Za</td>
			<td class="dayNames">Zo</td>
		</tr>
		<f:for each="{calendardays}" as="calendarday"  iteration="dayIterator">
			<f:if condition="{calendarday.dayofweek}>1 && {calendarday.uid}==1">
				<f:then>
					<tr><td class="week">{calendarday.week}</td>
					<f:for each="{0:1, 1:2, 2:3, 3:4, 4:5, 5:6}" as="noday">
						<f:if condition="{noday}<{calendarday.dayofweek}"><td class="noDay"></td></f:if>
					</f:for>
				</f:then>
			</f:if>
			<f:if condition="{calendarday.dayofweek}}==1"><tr><td class="week">{calendarday.week}</td></f:if>
			<td class="{calendarday.classday}" title="{calendarday.title}" {f:if(condition:'{calendarday.clickable}=="1"',then:'onclick="tx_booking_viewBookingForm(\'{calendarday.dateday}\');"')}>{calendarday.uid}</td> 
			<f:if condition="{calendarday.dayofweek}}==7 || {dayIterator.isLast}" ></tr></f:if>

		</f:for>
	</table>
	</div>

</f:section>

</html>