<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />
<script language="JavaScript">
	$ = jQuery.noConflict();

    $("#repeatcheck").on("click", function(){
	   // alert("repeatcheck:"+$("#repeatcheck").prop("checked"));
	  	if ($("#repeatcheck").prop("checked")) {
			$(".repeatevent").show();
			if ($("#repeatperiod").val()=='W'){$(".repeatweek").show();$(".repeatmonth").hide();}else{$(".repeatmonth").show();$(".repeatweek").hide();}
		}	
		else {
			$(".repeatevent").hide();
		}
    });
	$("#repeatperiod").on("change",function(){
			if ($(this).val()=="W"){
				$(".repeatweek").show();
				$(".repeatmonth").hide();
			}
			else {
				$(".repeatmonth").show();
				$(".repeatweek").hide();
			}
		});
	$('input,textarea,select,button').bind('click', function(){
   		$(this).focus();
	});
</script>

	<f:variable name="dayshort" value="{0:'Ma',1:'Di',2:'Wo',3:'Do',4:'Vr',5:'Za',6:'Zo'}"/>
	<f:variable name="dayname" value="{0:'maandag',1:'dinsdag',2:'woensdag',3:'donderdag',4:'vrijdag',5:'zaterdag',6:'zondag'}"/>
	<div class="vieweditBooking">
		<!-- ###EVENTVIEW### begin -->
		<div class="clearfix">
			<div class="float-left"><h3>Reservering wijzigen</h3></div>
			<div class="btn text-align-top float-right" onclick="tx_booking_editsubmit({event.uid}, 'cancelEvent');" title="Annuleren">
				<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  		<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg>
			</div>
		</div>
		</script>
		<div id="errorBoxevent" class="bodytext errorMessage"></div>
		<f:if condition="{event.organiser}=={useruid} || !{disabled}">
			<div>
				<button class="btn btn-primary mr-1" title="Gegevens opslaan" onclick="tx_booking_editsubmit({event.uid}, 'saveEvent');" type="submit" name="" value="">Bewaren</button>
				<button class="btn btn-primary mr-1" title="Dit evenement niet wijzigen" onclick="tx_booking_editsubmit({event.uid}, 'cancelEvent');" type="submit" name="" value="">Annuleren</button>
				<button class="btn btn-primary" title="Alle deze reserveringen verwijderen" onclick="tx_booking_editsubmit({event.uid}, 'deleteEvent');" type="submit" name="" value="">Verwijderen</button>
			</div>
		</f:if>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="#general" class="nav-link active" data-toggle="tab" role="tab" aria-controls="general" aria-selected="true">Algemeen</a>
    </li>
    <li class="nav-item">
        <a href="#repeating" class="nav-link" data-toggle="tab" role="tab" aria-controls="repeating" aria-selected="false">Herhaling</a>
    </li>
    <li class="nav-item {f:if(condition:'{selectoption -> f:count()}<=1',then: ' d-none')}">
        <a href="#rooms" class="nav-link"  data-toggle="tab" role="tab" aria-controls="rooms" aria-selected="false">Ruimtes</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active " id="general" role="tabpanel">
		<div class="form-inline">
			<div class="form-group">
				<label for="event_memo" class="col-form-label labelchurchadmin"><f:if condition="{conf.displayMode}=='viewObjects'"><f:then>Doel</f:then><f:else>Thema</f:else></f:if>:</label>&nbsp;
				<textarea rows="3" cols="30" class="form-control" id="event_memo" name="" required="required">{event.memo}</textarea>
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label for="persoonorganiser" class="col-form-label labelchurchadmin">Door:</label>&nbsp;
				<input autocomplete="off" role="organiser" class="selectperson form-control" id="persoonorganiser" type="text" name="" value="{event.bookername}" required="required"  <f:if condition="{disabled}"><f:then>disabled</f:then></f:if> >
				<input type=hidden id="idorganiser" value="{event.organiser}">
					<div class="zoekselect" id="organiserselectdiv">
						<ul id="organiserselectul" class="selectul">
						</ul>
					</div>	  	
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label for="event_startdate" class="col-form-label labelchurchadmin">Start:</label>
				<input min="{datemin}" max="{datemax}" id="event_startdate" type="date" name="" value="<f:format.date format='Y-m-d'>{event.startdate}</f:format.date>" required="required">
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label for="event_starthour" class="col-form-label labelchurchadmin">Eerste uur:&nbsp;</label>
				<input min="{hourmin}" max="{hourmax}" maxlength="2" size="2" id="event_starthour" style="width:3rem" type="number" name="" value="{event.starthour}" required="required">
    		</div>
			<div class="form-group">
				<label for="event_endhour" class="col-form-label labelchurchadmin">Laatste:&nbsp;</label>
				<input min="{hourmin}" max="{hourmax}" maxlength="2" size="2" id="event_endhour" style="width:3rem" type="number" name="" value="{event.endhour}" required="required">
    		</div>
		</div>
	</div>
    <div class="tab-pane fade" id="repeating" role="tabpanel">
		<div class="form-group">
    		<div class="form-check">
			<input class="form-check-input" id="repeatcheck" type="checkbox" name="" value="1"  <f:if condition="{event.repeatinterval}>0"><f:then>checked</f:then></f:if> >
      		<label class="form-check-label" for="repeatcheck">Terugkerend</label>
    		</div>
		</div>
		<div class="repeatevent">
			<div class="form-group" >
				Elke:&nbsp;
				<input min="1" max="6" maxlength="1" id="repeatinterval" style="width:2em;" type="number" name="" value="<f:if condition='{event.repeatinterval}'><f:then>{event.repeatinterval}</f:then><f:else>1</f:else></f:if>" required="required">
				&nbsp;
				<select id="repeatperiod" size="1" name="" >
				<option value="W" <f:if condition="{event.repeatperiod}=='W'"><f:then>selected="selected"</f:then></f:if> >week(en)</option>
				<option value="M" <f:if condition="{event.repeatperiod}=='M'"><f:then>selected="selected"</f:then></f:if>>maand(en)</option>
				</select>
			</div>				
			<div class="form-group repeatmonth" >
				<input id="ms1" type="checkbox" name="" <f:if condition="{event.monthsequencenbr.0}==1"><f:then>checked</f:then></f:if> value="1">eerste&nbsp;
				<input id="ms2" type="checkbox" name="" <f:if condition="{event.monthsequencenbr.1}==1"><f:then>checked</f:then></f:if> value="1">tweede&nbsp;
				<input id="ms3" type="checkbox" name="" <f:if condition="{event.monthsequencenbr.2}==1"><f:then>checked</f:then></f:if> value="1">derde&nbsp;
				<input id="ms4" type="checkbox" name="" <f:if condition="{event.monthsequencenbr.3}==1"><f:then>checked</f:then></f:if> value="1">vierde&nbsp;&nbsp;
				<select id="weekday" size="1" name="">
				<f:for each="{event.weekdays}" as="weekday" key="key">
					<option value="{key+1}" <f:if condition="{weekday}"><f:then>selected="selected"</f:then></f:if>>{dayname.{key}}</option>
				</f:for>
				</select>
			</div>		
			<div class="form-group repeatweek" >
			<f:for each="{event.weekdays}" as="weekday" key="key">
				<div class="form-check form-check-inline">
					<input value="1" class="form-check-input" id="wk{key+1}" type="checkbox" name="" <f:if condition="{weekday}"><f:then>checked</f:then></f:if> >
					<label class="form-check-label" for="wk{key+1}">{dayshort.{key}}</label>
				</div>
			</f:for>

			</div>
			<div class="form-inline">
				<div class="form-group" >
					<label for="event_enddate" class="col-form-label labelchurchadmin">Eind:&nbsp;</label>
					<input min="{datemin}" max="{datemax}" id="event_enddate" type="date" name="" value="<f:format.date format='Y-m-d'>{event.enddate}</f:format.date>" required="required">
				</div>
	        </div>
		</div>
	</div>		
    <div class="tab-pane fade " id="rooms" role="tabpanel">
		Wijzig ruimtes<br>
		<select class="selectobjects" id="resobjectsEdit" size="16" multiple="multiple" name="[]">
		<f:for each="{selectoption}" as="object">
			<option value="{object.uid}" {object.selected}>{object.name}</option>
		</f:for>
		</select>
	</div>
</div>

<!-- ###EVENTVIEW### end -->
		
</f:section>
</html>
