<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

<f:section name="content">
	<div class="viewBookingForm">
		<f:if condition="{conf.displayMode}=='viewObjects'"><div class="bookingformtitle"><h3>Reserveringen invoeren</h3></div></f:if>
		<div class="clearer">
			<div><span class="btn btn-primary mt-1" onclick="<f:if condition='{conf.displayMode}=="viewMonth"'>textpic[0].style.display = 'block';</f:if>tx_booking_submit('<f:format.date format='Y-m-d'>{datecur}</f:format.date>','viewMonth');">Naar maandoverzicht</span></div>
		</div>
		<f:if condition="{conf.displayMode}=='viewObjects'"><div class="clearer">{objectnames}</div></f:if> 
		<div id="errorBox" style="color:red;"></div>
		<div class="date row">
			<img src="{f:uri.resource(path:'Icons/baseline_arrow_left_black_18dp.png', extensionName: 'bookingpar')}" style="cursor:pointer;width:1.8rem" title="vorige dag" onclick="tx_booking_viewBookingForm('<f:format.date format='Y-m-d'>{dateprev}</f:format.date>');" />
			<span id="bookingeIDWorking" class="bodytext"> <f:format.date format='%A %d-%m-%Y' locale="{conf.mylang}">{datecur}</f:format.date> </span>
			<f:if condition="{datenext.timestamp}<{datemax.timestamp}">
				<img src="{f:uri.resource(path:'Icons/baseline_arrow_right_black_18dp.png', extensionName: 'bookingpar')}" style="display:inline;cursor:pointer;width:1.8rem" title="volgende dag" onclick="tx_booking_viewBookingForm('<f:format.date format='Y-m-d'>{datenext}</f:format.date>')">
			</f:if>
		</div>
	</div>

	<table class="bookingForm mw-100">
	<tr class="titles">
		<th >uur</th>
		<f:if condition="{conf.displayMode}=='viewObjects' || {conf.displayMode}=='viewAgenda'"><th >Ruimte</th></f:if>	
		<th >Naam</th>
		<th><f:if condition="{conf.displayMode}=='viewMonth'"><f:then>Thema</f:then><f:else>Doel</f:else></f:if></th>
		<f:if condition="{conf.displayMode}!='viewAgenda'"><th >Actie</th></f:if>
	</tr>
	<f:for each="{bookinghours}" as="bookinghour"  iteration="hourIterator">
	<tr class='<f:if condition="{bookinghour.username}>''"><f:then>booked</f:then><f:else><f:if condition="{hourIterator.isEven}"><f:then>even</f:then><f:else>odd</f:else></f:if></f:else></f:if>'>
		<td>{bookinghour.hour}</td>
		<f:if condition="{conf.displayMode}=='viewObjects' || {conf.displayMode}=='viewAgenda'"><td class="wrappable">{bookinghour.number}<span class="d-none d-sm-inline">&nbsp;{bookinghour.nameobject}</span></td></f:if>	
		<td  class="wrappable">{bookinghour.roepnaam}<span class="d-none d-sm-inline">{bookinghour.achternaam}</span></td>
		<td ><input type="text" id="tx_bookingpar_memo{bookinghour.uid}" class="form-control <f:if condition="{bookinghour.username}>''">booked</f:if>" <f:if condition="{bookinghour.bookable}==0 || {conf.displayMode}=='viewAgenda'">disabled</f:if> value="{bookinghour.memo}"></td>
		<f:if condition="{conf.displayMode}!='viewAgenda'">
		<f:then>
		<td class="text-nowrap">
			<f:if condition="{bookinghour.bookable}">
			<div onclick="tx_booking_book('<f:format.date format='Y-m-d H:i:s'>{bookinghour.startdate}</f:format.date>',{feuserid},{bookinghour.uid});"><img style="cursor:pointer" src="{f:uri.resource(path:'Images/book.gif', extensionName: 'bookingpar')}" title="Actie"></div>
			</f:if>
			<f:if condition="{bookinghour.editable}">
			<div class="d-inline" onclick="tx_booking_showedit({bookinghour.eventuid});">
			<img style="cursor:pointer;width:21px;height:17px;" src="{f:uri.resource(path:'Icons/edit-black.png', extensionName: 'bookingpar')}" title="Bekijken en Wijzigen">
			</div>
			</f:if>
			<f:if condition="{bookinghour.deletable}">
			<div class="d-inline" onclick="tx_booking_delete({bookinghour.bookinguid},{bookinghour.eventuid});"><img style="cursor:pointer;width:21px;height:17px;" src="{f:uri.resource(path:'Images/delete.gif', extensionName: 'bookingpar')}" title="Verwijderen" ></div>
			<div class="d-none" id="tx_bookingpar_event{bookinghour.uid}" >{bookinghour.eventuid}</div>
			<div class="d-none" id="tx_bookingpar_organiser{bookinghour.uid}"  >{feuserid}</div>
			</f:if>
			<f:if condition="{bookinghour.participatable}">
			<div class="d-inline" onclick="tx_booking_submit('<f:format.date format='Y-m-d H:i:s'>{bookinghour.startdate}</f:format.date>','participate',{bookinghour.eventuid},'','{bookinghour.memo}');">
			<img style="cursor:pointer;height:15px; width:20px;" src="{f:uri.resource(path:'Images/participate.jpg', extensionName: 'bookingpar')}" title="Deelnemen">
			</div>
			</f:if>
		</td>
		</f:then>
		</f:if>
		
	</tr>
	</f:for>

	
	</table>	
</f:section>
</html>