<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Booking/ViewObjectsList.html
-->

<f:section name="content">
	<div class="listObjects">
		<!-- ###OBJECTSVIEW### begin -->
		<div class="eventtitle">Kies 1 of meer ruimtes</div>
		<div id="bookingeIDResult">
			<div id="errorBox" style="color:red;"></div>
			<select class="selectobjects" id="resobjects" size="16" multiple="multiple" name="[]">
			<f:for each="{objects}" as="object" iteration="objectindex">
				<option value="{object.uid}">{object.name}</option>
			</f:for>
			</select>
			<div class="listObjects">
				<div class="mt_1">
					<span class="btn btn-primary" onclick="textpic[0].style.display = 'none';tx_booking_selectObject('{datecur}');">Naar maandoverzicht</span>
				</div>
			</div>
		</div>
		<!-- ###OBJECTSVIEW### end -->
	</div>

</f:section>
</html>