<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/view objects
-->

<f:section name="content">
	<div class="tx-bookingpar-pi1">
		<div class="eventedit ml-sm-5 mt-sm-n3 " id="eventeditview"></div>
		<div id="bookingeIDResult"><img class="working" src="{f:uri.resource(path:'Icons/working.gif')}"/></div>
	</div>
<script type="text/javascript">
	$(window).on("load", function(){tx_booking_submit("{datecur}","viewObjects","");});
</script>

</f:section>
</html>