<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/view objects
-->

<f:section name="content">
	<div class="tx-bookingpar-pi1">
<script type="text/javascript">
	$(window).on("load", function(){
	objectsselected="{objects}";
	tx_booking_submit("{datecur}","viewMonth","");});
</script>
		<div class="eventedit border-primary ml-md-5 mt-md-n2 " id="eventeditview"></div>
	<DIV ID="errorBox" STYLE='color:red;'></DIV>
		<div id="bookingeIDResult"><img class="working" src="{f:uri.resource(path:'Icons/working.gif')}"></div>
	</div>

</f:section>
</html>